:root{
  --font-montserrat: "Montserrat", -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  --font-serif: "Mongolian Baiti", "Playfair Display", -apple-system, serif ;
  --blue:  #2F80ED;
  --pink: #FF2E63;
  --black: #4d4d4d;
}

body {
  background: linear-gradient(154.37deg, var(--pink)  0%, var(--blue) 100%);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* uncomment line below for an easier UI debuggin session ;) */
/* * { outline: 1px solid magenta !important } */